html {
    position: relative;
}

body {
    background: url("../images/bg1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 100px;
}

nav.fixed-top {
    height: 80px;
}

a.navbar-brand {
    margin-left: 50px;
}

ul.list-inline {
    margin-right: 30px;
}

.title_row {
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: center;
    letter-spacing: 3px;
}

h1 {
    font-weight: 900;
    color: white;
}

div.directions {
    background: rgb(142, 190, 190);
    border-radius: 25px;
    border: 3px solid darkred;
    position: relative;
}
div.directions ol li {
    padding-bottom: 5px;
    padding-top: 10px;
}

button {
    cursor: pointer;
    font-weight: 600;
    transition: width 2s, height 2s, transform 2s;
}


#gameVal, #wins, #losses, #currentWeight {
    color: black;
    text-align: center;
    margin-top: 10px;
    border-radius: 25px;
    border: 2px solid darkred;
    height: 80px;
}

#gameVal {
    background: greenyellow;
    padding-top: 5px;
}

#currentWeight {
    background: blue;
    padding-top: 5px;
}

#wins {
    background: green;
    padding: 5px 0;
    font-weight: 600;
}

#losses {
    background: red;
    padding: 5px 0 25px 0;
    font-weight: 600;
}

.bigBold {
    font-size: 2em;
    font-weight: 800;
    padding-top: 20px;
    padding-left: 5px;
}

#getSpot {
    margin-top: 10px;
    border: 2px solid darkred;
}

/* The Flex/Flex Div/Flex Img styling is for the four weight plates and makes them responsive */
.flex {
    display:flex;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 130px;
    background: rgb(240, 182, 192);
    border: 3px solid darkred;
    border-radius: 25px;
}
.flex div {
    flex: 1;
    margin:5px; /* need some space ?*/
}
.flex img {
    width:100%;
    border: 3px solid darkred;
    transition: width 1s, height 1s;
}

.flex img:hover {
    opacity: .5;
    cursor: pointer;
    width: 75%;
    transition-timing-function: ease;
}

footer {
    background: #666;
    border-top: 8px solid #4aaaa5;
    color: #ccc;
    text-align: center;
    font-size: 12px;
    height: 80px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

/* End responsive image Styling */
/******************************
 *********************************/

@media screen and (max-width: 480px) {
    
    body {
        padding-top: 140px;
    }
    
    nav.navbar {
        height: 120px;
        padding: 0;
    }
    
    a.navbar-brand {
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 20px 0 20px 0;
        background: #4aaaa5;
    }
    form.form-inline {
        margin: 0 auto;
        width: 100%;
        text-align: center;
        height: 50px;
    }
    ul.my-2 {
        width: 100%;
        margin: 0 auto;
    }
    ul li {
        width: 30%;
        padding-left: 10px;
        padding-top: 14px;
        padding-bottom: 14px;
        color: #4aaaa5;
    }
    ul li:hover {
        opacity: .5;
        background: grey;
        cursor: pointer;
        font-weight: bolder;
    }
    ul li a:hover {
        text-decoration: none;
    }

    #getSpot {
        margin: 10px 20%;
        width: 80%;
        margin-left: 10%;
    }

    .currentWeight, .gameVal {
        height: 70px;
        padding-top: 10px;
        margin-left: 0;
    }

    #wins, #losses {
        height: 50px;
        padding-top: 0;
    }

    .flex {
        width: 100%;
    }

}

@media screen and (max-width: 767px) {
     .directions {
         display: none;
     }
 }
